<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.team46.stubank">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StuBank"
        android:usesCleartextTraffic="true">
        <activity android:name=".card_activities.CreateCard"></activity>
        <activity android:name=".CreateAccount">
            android:parentActivityName=".MainActivity">
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".budget_activities.DisplayBudget" />
        </activity>
        <activity android:name=".budget_activities.DisplayPieChart">
            android:parentActivityName=".DisplayBudget">
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".budget_activities.DisplayBudget" />
        </activity>
        <activity android:name=".budget_activities.DisplayLineGraph">
            android:parentActivityName=".DisplayBudget">
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".budget_activities.DisplayBudget" />
        </activity>
        <activity android:name=".DisplayPay">
            android:parentActivityName=".ViewCard">
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".card_activities.ViewCard" />
        </activity>
        <activity android:name=".budget_activities.DisplayBudget">
            android:parentActivityName=".ViewCard">
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".card_activities.ViewCard" />
        </activity>
        <activity android:name=".card_activities.ViewCard">
            android:parentActivityName=".displayCards">
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".card_activities.DisplayCards" />
        </activity>
        <activity android:name=".ViewMainMenu" />
        <activity android:name=".card_activities.DisplayCards">
            android:parentActivityName=".viewMainMenu">
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ViewMainMenu" />
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>